$white: #f6f5f5;
$grey: #959393;
$black: #333;

$yellow: #ffc766;
$red: #fa6b7c;
$ruby: #e33f3f;
$green: #87cd8e;
$cyan: #78cfdf;
$teal: #37c4b8;
$blue: #5fbfdb;
$orange: #e98542;
$purple: #cb74c4;
$lime: #a8ec76;
$brown: #959393;